
  * { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
   
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);      
      background-color: #011F51;
  }
  body {
    font: 13px Arial,sans-serif;
    opacity: 1;
    background-image: url('../images/bg-blurred.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.96;
  }
  #brand{
    text-align: center;
    font-size: 24px;
    color: #011F51;
    background-color: #F6FBFF;
    text-shadow: 0 0 10px;
  }
  div#LeftZone {
    width: 27%;
    float: left;
    background-image: url('../images/chatbg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px;
    margin: 1%;
    min-height: 600px;
  }
  div#form {
    position: relative;
  }
  div#MiddleZone {
    float:left;
    width: 40%;
    margin: 1%;
    min-height: 600px;
  }
  div#MiddleZone #list button {
    margin-left: 30%;
  }
  div#RightZone {
    float:left;
    width: 27%;
    background-image: url('../images/playerlist.jpg');
    background-repeat: no-repeat;
    background-size:cover;    
    box-shadow: 0 0 20px;
    margin: 1%;
    min-height: 600px;
  }
  div#Display {
    height: inherit;
  }
  div#main {
    width: 100%;
    height: 200px;
  }
  div#main #Registration {
    top: 50%;
    left: 25%;
    position: absolute;
    width: 50%;
    float: left;
    box-shadow: 0 0 50px;
    box-sizing: border-box;
    padding: 2em;
  }
  div#main #Registration input, div#main #Registration button {
    width: 45%;
  }
  div#current {
    float: left;
    color: #011F51;
    width: 65%;
    height: inherit;
    box-shadow: 0 0 10px;
  }
  div#clock {
    float: left;
    color: red;
    text-align: center;
    font-family: "Comic Sans MS";
    width: 35%;
    position: relative;
    height: inherit;
    background: url('../images/bg.jpg');
    padding: 5%;
    box-shadow: 0 0 10px;
  }
  div#current div {
    float: left;
  }
  div#current img {
    float: left;
    height:100px;
    width:100px;
  }
  div#bid {
    margin-top: 20px;
    width: 100%;
  }
  div#list {
    width: 100%;
    height: 400px;
    background-image: url('../images/chatbg2.jpg');
    overflow: auto;
    box-shadow: 0 0 10px;
  }
  div#list span {
    width: 20%;
    height: 33px;
    display: block; 
    text-align: center;
    float: left;
    margin: 0;
    color: white;
  }
  div#Feeds {
    color: white;
    font-size: 16px;
    height: 100px;
    overflow: auto; 
  }
  div#ListTitle {
    width: 100%;
    font-weight: bold;
  }
  div input {
    border: 1px solid rgb(130, 224, 255);
    padding: 10px;
    width: 45%;
    margin: 1%;
  }
  div button {
    width: 45%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    margin: 1%;
  }
  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 400px;
  }
  #messages li {
    padding: 5px 10px;
    width: 100%;
    color: white;
    word-wrap: break-word;
  }
  #messages li:nth-child(odd) {
    background: rgba(2, 35, 89, 0.3);
  }
  input#m {
    width: 93%;
  }
  div#list div:nth-child(odd) span{
    background: #568;
  }
  #RightZone h1{
    text-align: center;
    color: "black";
    font-size: 18px;
    margin: 0.5%;
    font-weight: bolder;
  }
  #RightZone ul {
    font-weight: bold;
    font-family: "Lucida Console";
    text-align: left;
    color: black;
    font-size: 14px;    
    list-style-type: none;
    margin-left: 45px;
    font-weight: normal;
    min-height: 50px;
    border-top: 1px solid #D9D9D9;
    font-style: italic;
  }
  #RightZone li{
    font-size: 12px;
    font-weight: italic;
    color: green;
    font-family: "Lucida Console";
  }
