
  * { 
  	margin: 0;
  	padding: 0; 
  	box-sizing: border-box; 
  }
  body {
  	font: 13px Helvetica, Arial;
  }
  div#form {
  	background: #000;
  	padding: 3px;
  	position: fixed;
  	bottom: 0;
  	width: 30%;
  }
  div#main {
  	border: 1px solid black;
  	width: 30%;
  }
  div#list {
  	width: 69%;
  	float: right;
  }
  div#list span {
  	border: 1px solid black;
  	min-width: 20%;
  	min-height: 30px;
  	display: inline-block; 
  }
  div input {
  	border: 0;
  	padding: 10px;
  	width: 90%;
  	margin-right: .5%;
  }
  div button { width: 9%;
  	background: rgb(130, 224, 255);
  	border: none;
  	padding: 10px;
  }
  #messages {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  }
  #messages li {
  	padding: 5px 10px;
  	width: 100%;
  }
  #messages li:nth-child(odd) {
  	background: #eee;
  }